@if(TempData["success"]!=null){
    <div class="alert alert-success notification">
        @TempData["success"];
    </div>
}

@if(TempData["erro"]!=null){
<div class="alert alert-success notification">
    @TempData["erro"];
</div>
}